{% extends "base.html" %}
{% block content %}

{% if form.errors %}
The username and password do not match
{% endif %}

<form method="post" action="{% url 'listings.views.login' %}">
  {% csrf_token %}

  <div class="post">
    <div style="clear: both;">&nbsp;</div>
    <h3>{{ form.username.label_tag }}</h3>
    <div id="search" >
        <div>
          {{form.username}}
        </div>
    </div>
    <h3>{{ form.password.label_tag }}</h3>
    <div id="search" >
        <div>
          {{form.password}}
        </div>
    </div>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
