<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : About</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li>
			<a href="post.html" class="button">Post your idea</a>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="contact.html">Contact</a></li>

		</ul>
	
	</div>
	
	<!-- end #menu -->
</div>

	
	<div id="header">
		<a href="index.html"><img src="images/logo.png" width="350" height="126px"></a>
	</div>
	<div id="steps">
		<img src="images/steps.png" width="550px" height="36px">
	</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<h2>About PolyProjects</h2>
						</br>
						<video id="moviehero" controls>
						  			<source src="polyprojects.mp4" type="video/mp4">
						  			<source src="polyprojects.ogv" type="video/ogg">
									Your browser does not support the video tag.
								</video>
								
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>PolyProjects is an online tool for Cal Poly students/faculty to connect and form teams. You can either post an idea and list who you are looking for, or you can browse current project and join one of those.</p>
						<h4>Who we are</h4>
						<p><img src="images/kat.jpg"></p>
						<p>Kat, <em>Designer/Founder</em></p>
						<p>
							 Kat came up with this idea in her senior project class when she was trying to come up with something awesome to do, but didn't have any ideas. She wished Cal Poly had an online tool to browse current projects around campus that could use her design skills. And that's how PolyProjects was born. Kat is currently a Graphic Communication senior with a concentration in Design Reproduction Technology and a minor in Media Arts and Technologies. She is graduating in December 2014.
							<p><img src="images/rishab.jpg"></p>
							<p>Rishab, <em>Back-End Developer</em></p>
							<p>
								 Rishab is the developer in charge of making sure this whole site works properly. He and Kat met at the Cal Poly Design and Dev Hackathon where they created their first prototype of the site. Rishab is a Computer Science freshman.</p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2014 mypolyproject.com. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
