<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : FAQ</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li>
			<a href="post.html" class="button">Post your idea</a>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="contact.html">Contact</a></li>

		</ul>
	
	</div>
	
	<!-- end #menu -->
</div>

	
	<div id="header">
		<a href="index.html"><img src="images/logo.png" width="350" height="126px"></a>
	</div>
	<div id="steps">
		<img src="images/steps.png" width="550px" height="36px">
	</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<h2>FAQ</h2>
						<h4>What is PolyProjects?</h4>
							<p>PolyProjects is a tool for Cal Poly students and faculty members to help them come together to create great projects.</p>
						<h4>How does it work?</h4>
						<p><em>Posting a Project</em></p>
						<p>If you have a great idea, but you don't have all the skills you need to complete it, you can simply click the "Post Your Idea" button in the top left, fill out information about your idea, list what skillsets you need, and wait for someone to respond. </p>
						<p><em>Finding a Project</em></p>
						<p> If you are looking to join a cool project, you can scroll through the project posts on the home page, or sort them by different criteria with the left search menu. Once you find a project you're interested in, you click the project title to learn more. Click "Join Project" if you want to be a part of it.
						<h4>Who can post?</h4>
						<p> Cal Poly students and faculty. All you need is a Cal Poly email!</p>
						<h4>What kind of projects can I post?</h4>
						<p>You can post any type of project as long as (1) it is not already finished, (2) it is not a marketing page for any other existing site, service, or project, (3) you post a complete, full description of the project - no teaser project pages, (4) it does not included any copyright material that does not belong to you, and (5) it doesn't constitute a help-wanted ad for a paid position.
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2014 mypolyproject.com. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
