<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : Resources</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li>
			<a href="post.html" class="button">Post your idea</a>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	
	</div>
	
	<!-- end #menu -->
</div>

	
	<div id="header">
		<a href="index.html"><img src="images/logo.png" width="350" height="126px"></a>
	</div>
	<div id="steps">
		<img src="images/steps.png" width="550px" height="36px">
	</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
						<h2>Resources</h2>
							<p>This is a list of places on campus to help you and your projects.</p>
						<h4>The Hatchery</h4>
						<p>The Hatchery is an on-campus program of the Cal Poly Center for Innovation and Entrepreneurship that fosters entrepreneurship initiatives and the development of student-led startups. The program is open for all Cal Poly students interested in learning how to take a business from idea generation to launch. Check out their website <a href="http://cie.calpoly.edu/programs/the-hatchery/default.aspx">here</a>.</p>
						<h4>SLO HotHouse</h4>
						<p> The SLO HotHouse is a new community space that has been created through the efforts of Cal Poly, the San Luis Obispo Community, and the Cal Poly Center for Innovation and Entrepreneurship. The goal of the SLO HotHouse is to support students and community members alike as they work to create new innovations and start business ventures. Check out their website <a href="http://www.slohothouse.com">here</a>.</p>

						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2014 mypolyproject.com. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
