{% extends "base.html" %}
{% block content %}
<div id="wrapper">
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        
        <div id="content">
          <div class="post">
            <h2 class="title">{{ listing.title }} 
            {% if listing.finished %} (Completed) {% endif %}</h2>
            <p class="meta"><span class="date"> Created {{ listing.date_posted }}</span><span class="posted">
            {% if listing.owner.get_full_name|length > 0 %}
            Posted by {{ listing.owner.get_full_name }}{% else %}Posted by Anonymous{% endif %}<em>{% if listing.owner.major%}, {{ listing.owner.major }}{% endif %}</em></span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
              <p><em>Category:
              {% for category in listing.category.all %}
                {{ category.name }},
              {% endfor %}
              </em></p>
              {{ listing.description }}
            </div>
          </div>
          <div style="clear: both;">&nbsp;</div>
        </div>
        <div id="sidebar">
          <ul>
            {% if showedit %}
            <li>
              <a href="{% url 'edit' listing.pk %}" class="button">Edit Project</a>
            <li>
            <br>
            <li>
              {% if listing.finished %}
                <a href="{% url 'flip_finished' listing.pk %}" class="button">Un-Complete Project</a>
              {% else %}
                <a href="{% url 'flip_finished' listing.pk %}" class="button">Complete Project</a>
              {% endif %}
            <li>
              <div style="clear: both;">&nbsp;</div>
            </li>
            {% else %}
            {% if user.is_authenticated %}
            {% if listing.owner.contact|length > 0 %}
            Contact Project Leader: {{listing.owner.contact}}
            {% else %}
            E-mail Project Leader: {{ listing.owner.username }}
            {% endif %}
            <br>
            <br>
            {% else %}
            <li>
              <a href="{% url 'listings.views.login' %}" class="button">Login to Contact Project Leader</a>
            <li>
            <br>
            {% endif %}
            <li>
              <a href="{% url 'report' listing.pk %}" class="button">Report Project</a>
            <li>
            <li>
              <div style="clear: both;">&nbsp;</div>
            </li>
            {% endif %}
            <li>
              <h2>Needs:</h2>
              <ul>
                {% for skill in listing.skill.all %}
                  <li>{{ skill.name }}</li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <h2>Created By:</h2>
              <ul>
                {% for user in listing.team.all %}
                  {% if listing.owner.get_full_name|length > 0 %}
            <li>{{ listing.owner.get_full_name }}{% else %}Anonymous{% endif %}<em>{% if listing.owner.major %}, {{ listing.owner.major }}{% endif %}</em></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <h2>Project Type:</h2>
              <ul>
                <li>{{ listing.get_project_type_display }}</li>
              </ul>
            </li>
            <li>
              <h2>Poster Type:</h2>
              <ul>
                <li>{{ listing.get_poster_type_display }}</li>
              </ul>
            </li>
            <li>
            {% if listing.sponsored %} 
              <h2><em>(Sponsored)</em></h2>
            {% endif %}
            </li>
          </ul>
        </div>
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
