{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
				<div id="content">
				{% for listing in listing_list %}
					<div class="post">
						<h2 class="title"><a href="{% url 'detail' listing.pk %}">{{ listing.title }}</a></h2>
						<p class="meta"><span class="date">Updated {{ listing.date_posted }}</span><span class="posted">Posted by {{ listing.owner.get_full_name }}, <em>{{ listing.owner.get_major_display }}</em></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p><em>Category:
              				{% for category in listing.category.all %}
                				{{ category.name }},
              				{% endfor %}
              				</em></p>
							<p>{{ listing.description }}</p>
							<p><strong>Needs:</strong></p>
							{% for skill in listing.skill.all %}
								<p class="links"><a href="#" class="button">{{ skill.name }}</a></p>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<form method="post">
					{% csrf_token %}
					<ul>
						{% for field in form %}
						<li>
							{{ field.errors }}
							<h2>{{ field.label_tag }}</h2>
						{% if field.label == "Major" %}
						<a href="#hide1" class="hide" id="hide1">(+) Expand</a>
						<a href="#show1" class="show" id="show1">(-) Collapse</a>
						<div class="list">

							{{ field }}
						</div>
						{% else %}

							{{ field }}
						{% endif %}
						</li>
						{% endfor %}
						<input type="submit" value="Search"/>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
{% endblock %}
