{% extends "base.html" %}
{% block content %}
The following fields are optional but highly recommended. If you are a FERPA student, please note that your name and major will be publicly available.
<form method="post" action="{% url 'listings.views.register' %}">
  {% csrf_token %}

  <div class="post">
    <div style="clear: both;">&nbsp;</div>
    {% for field in form %}
    {{ field.errors }}
    <h3>{{ field.label_tag }}</h3>
    <div id="search" >
        <div>
          {{ field }}
        </div>
    </div>
    {% endfor %}
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>

<input type="submit" value="Submit" />
</form>

{% if listings %}
<h3>Your Listings</h3>
{% for listing in listings %}
<a href="{% url 'detail' listing.pk %}">{{listing}}</a>
{% endfor %}
{% endif %}
{% endblock %}
