{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							
						<h2>Contact</h2>
							<p>Email us with any questions, comments, concerns, or feedback. We would love to hear from you!</p>
						<h4>Team Members</h4>
						<p>Kathryn Cassidy, Designer/Founder: <em>kacassid@calpoly.edu</em> </p>
						<p>Rishab Hedge, Back-End Developer: <em>rhedge@calpoly.edu</em> </p>
						
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
{% endblock %}