{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
						<h2>Calendar of Events</h2>
							<p>This is a list of upcoming events that relate to Cal Poly projects and ideas.</p>
						<h4><em>Cal Poly Innovation Quest 2014</em></h4>
						<p><em>Workshop #1: Thursday, February 20th, 6:00 pm EIL (bldg 002), Room 206</em></p>
						<p>Innovation Quest is a competition created and funded by alumni and hosted in cooperation with the Cal Poly Center for Innovation and Entrepreneurship. The iQ competition is designed for students, to encourage innovators to pursue their ideas and acquire funding. The program consists of three workshops held on campus, an application process, and a final awards ceremony. <a href="http://innovationquest.org">More Info</a></p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
{% endblock %}