{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<h2>FAQ</h2>
						<h4>What is PolyProjects?</h4>
							<p>PolyProjects is a tool for Cal Poly students and faculty members to help them come together to create great projects.</p>
						<h4>How does it work?</h4>
						<p><em>Posting a Project</em></p>
						<p>If you have a great idea, but you don't have all the skills you need to complete it, you can simply click the "Post Your Idea" button in the top left, fill out information about your idea, list what skillsets you need, and wait for someone to respond. </p>
						<p><em>Finding a Project</em></p>
						<p> If you are looking to join a cool project, you can scroll through the project posts on the home page, or sort them by different criteria with the left search menu. Once you find a project you're interested in, you click the project title to learn more. Click "Join Project" if you want to be a part of it.
						<h4>Who can post?</h4>
						<p> Cal Poly students and faculty. All you need is a Cal Poly email!</p>
						<h4>What kind of projects can I post?</h4>
						<p>You can post any type of project as long as (1) it is not already finished, (2) it is not a marketing page for any other existing site, service, or project, (3) you post a complete, full description of the project - no teaser project pages, (4) it does not included any copyright material that does not belong to you, and (5) it doesn't constitute a help-wanted ad for a paid position.
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
{% endblock %}