{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
						<h2>Resources</h2>
							<p>This is a list of places on campus to help you and your projects.</p>
						<h4>The Hatchery</h4>
						<p>The Hatchery is an on-campus program of the Cal Poly Center for Innovation and Entrepreneurship that fosters entrepreneurship initiatives and the development of student-led startups. The program is open for all Cal Poly students interested in learning how to take a business from idea generation to launch. Check out their website <a href="http://cie.calpoly.edu/programs/the-hatchery/default.aspx">here</a>.</p>
						<h4>SLO HotHouse</h4>
						<p> The SLO HotHouse is a new community space that has been created through the efforts of Cal Poly, the San Luis Obispo Community, and the Cal Poly Center for Innovation and Entrepreneurship. The goal of the SLO HotHouse is to support students and community members alike as they work to create new innovations and start business ventures. Check out their website <a href="http://www.slohothouse.com">here</a>.</p>

						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
{% endblock %}
