<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : Post Your Idea</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li>
			<a href="post.html" class="button">Post your idea</a>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="contact.html">Contact</a></li>

		</ul>
	
	</div>
	
	<!-- end #menu -->
</div>

	
	<div id="header">
		<a href="index.html"><img src="images/logo.png" width="350" height="126px"></a>
	</div>
	<div id="steps">
		<img src="images/steps.png" width="550px" height="36px">
	</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
					<div class="post">
								
						<div style="clear: both;">&nbsp;</div>
						<div id="sidebar">
							<ul>
								<li>
										<h2>Your name:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
										<h2>Your major:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
										<h2>Your contact email:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
									<h2>Name of project:</h2>
									
									<div id="search" >
										<form method="get" action="#">
											<div>
												<input type="text" name="s" id="search-text" value="" />
												<input type="submit" id="search-submit" value="" />
											</div>
										</form>
									</div>
									<div style="clear: both;">&nbsp;</div>
								</li>
								
								<li>
										<h2>Project description:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
										<h2>Project deadline/timeline:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
										<h2>Project Goals:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
								<li>
										<h2>Project members:</h2>
										<div id="search" >
											<form method="get" action="#">
												<div>
													<input type="text" name="s" id="search-text" value="" />
													<input type="submit" id="search-submit" value="" />
												</div>
											</form>
										</div>
										<div style="clear: both;">&nbsp;</div>
								</li>
									<li>
											<h2>Project needs:</h2>
											<div style="float: left; width: 50%;">
												<form>
													<li><input type="checkbox" name="needs" value="actor">Actor</li>
													<li><input type="checkbox" name="needs" value="artist">Artist</li>
													<li><input type="checkbox" name="needs" value="dancer">Dancer</li>
													<li><input type="checkbox" name="needs" value="designer">Designer</li>
													<li><input type="checkbox" name="needs" value="developer">Developer</li>
													<li><input type="checkbox" name="needs" value="engineer">Engineer</li>
												</form>
												</div>
											<div style="float: right; width: 50%;">
												<form>
													<li><input type="checkbox" name="needs" value="model">Model</li>
													<li><input type="checkbox" name="needs" value="musician">Musician</li>
													<li><input type="checkbox" name="needs" value="photographer">Photographer</li>
													<li><input type="checkbox" name="needs" value="scientist">Scientist</li>
													<li><input type="checkbox" name="needs" value="videographer">Videographer</li>
													<li><input type="checkbox" name="needs" value="writer">Writer</li>
												</form>
													</div>
													<div style="clear: both;">&nbsp;</div>
													
														<li>
																<h2>Project category:</h2>
																<div style="float: left; width: 50%;">
																	<form>
																		<li><input type="checkbox" name="category" value="ag">Animals</li>
																		<li><input type="checkbox" name="category" value="ag">Agriculture</li>
																		<li><input type="checkbox" name="category" value="architecture">Architecture</li>
																		<li><input type="checkbox" name="category" value="art">Art/Design</li>
																		<li><input type="checkbox" name="category" value="business">Business</li>
																		<li><input type="checkbox" name="category" value="education">Education</li>
																		<li><input type="checkbox" name="category" value="engineering">Engineering</li>
																		<li><input type="checkbox" name="category" value="engineer">Environment</li>
																		<li><input type="checkbox" name="category" value="fashion">Fashion</li>
																		<li><input type="checkbox" name="category" value="film">Film</li>
																		<li><input type="checkbox" name="category" value="food">Food/Drink</li>
																		<li><input type="checkbox" name="category" value="games">Games</li>
																	</form>
																	</div>
																<div style="float: right; width: 50%;">
																	<form>
																		<li><input type="checkbox" name="category" value="global">Global Issues</li>
																		<li><input type="checkbox" name="category" value="government">Government</li>
																		<li><input type="checkbox" name="category" value="health">Health/Medicine</li>
																		<li><input type="checkbox" name="category" value="history">History</li>
																		<li><input type="checkbox" name="category" value="journalism">Journalism</li>
																		<li><input type="checkbox" name="category" value="music">Music</li>
																		<li><input type="checkbox" name="category" value="performingarts">Performing Arts</li>
																		<li><input type="checkbox" name="category" value="science">Science</li>
																		<li><input type="checkbox" name="category" value="technology">Technology</li>
																				<li><input type="checkbox" name="category" value="other">Other</li>
																	</form>
																		</div>		
							
											</div>
											<div style="clear: both;">&nbsp;</div>
									</li>
									<a href="#" class="button">Post your idea</a>
									
					</div>
					<div style="clear: both;">&nbsp;</div>
					
					
				</div>
				<!-- end #content -->

				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2014 mypolyproject.com. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
