<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : Wall Mural</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li>
			<a href="post.html" class="button">Post your idea</a>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	
	</div>
	
	<!-- end #menu -->
</div>

	
	<div id="header">
		<a href="index.html"><img src="images/logo.png"  width="350" height="126px"></a>
	</div>
	<div id="steps">
		<img src="images/steps.png" width="550px" height="36px">
	</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
				<div id="content">
					<div class="post">
						<h2 class="title">Wall Mural</h2>
						<p class="meta"><span class="date"> Updated February 22, 2014</span><span class="posted">Posted by Kathryn Cassidy, <em>Graphic Communication</em></span></p>
						<div style="clear: both;">&nbsp;</div>
						<img src="images/mural.jpg" width="565px" height="250px">
						<div class="entry">
							<p><em>Category: Art/Design</em></p>
							<p>I really want to create a mural on Cal Poly's campus. I want it to be huge and in a place where everyone will walk by it a lot. I want it to be colorful, happy, and inspiring. I have experience with painting, but I want other artists to join in too!</p>
							<h4>Project Goals</h4>
							<p>When this project is completed, there will be a mural on Cal Poly's campus, as well as a timelapse video of the whole process.</p>
						<h4>Deadline/Timeline</h4>
						<p>This project is ongoing until it is done.</p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<a href="#" class="button">Join Project</a>
						
							<div style="clear: both;">&nbsp;</div>
						</li>
						<li>
							<h2>Needs:</h2>
							<ul>
									<li>Artist</li>
									<li>Videographer</li>
							</ul>
							
							
						</li>
						<li>
							<h2>Team Members:</h2>
							<ul>
								<li>Kathryn Cassidy, <em>Graphic Communication</em></li>
								<li>Steven Dice, <em>Computer Science</em></li>
								<li>Jordan Damron, <em>Graphic Communcation</em></li>
							</ul>
						</li>
						
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2014 mypolyproject.com. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
